@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  margin: 30px 95px;
  padding: 10px;
}
.title{
  font-size: 44px;
  font-family: 'Roboto';
  display: flex;
  justify-content: center;
  color: #292929;
}

.cards {
  display: flex;
  justify-content: center;  
}

.card {
  margin: 35px;
  border: 0.2px solid #8f8f8f;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 389px;
  width: 312px;
}
.card-title {
  font-size: 28px;
  letter-spacing: 0.08em;
}
.card-img {
  width: 100%;
  border-radius: 20px 20px 0px 0px;
}

.card-description {
  font-size: 18px;
  font-family: 'Roboto';
  line-height: 1.5em;
  text-align: center;
  color: #606060;
}

.btn {
  height: 50px;
  background-color: black;
  height: 42px;
  width: 188px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  cursor:pointer;
  color: white;
  font-weight: 600;
  font-family: serif;
  font-size: 16px;
}

.blank{
  height: 100px;
}

a {
  text-decoration: none;
  color: white;

}

.footer-text{
  color: #8f8f8f;
  font-family: 'Roboto'
}

.footer-spacing {
  height: 18px;
}

.footer-link-container{
  width: 96px;
  display: flex;
  justify-content: space-between;
}