@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;700&display=swap');
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.title{
  font-size: 70px;
  font-family: 'Roboto';
}
body {
  background:grey;
}

.card {
  border: 2px solid red;
}
.card-title {
  color:green;
  font-size: 28px;
  letter-spacing: 0.08em;
}

.card-description {
  color: blue;
  font-size: 18px;
  font-family: 'Roboto';
  line-height: 1.5em;
  text-align: center;
}
.button{
  
}